@import '../Utils/variables.scss';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
    font-family: $font-family;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

//--mise à jour SASS avec terminal  - se mettre dans src/SASS et commande: sass main.scss main.css >