// Color variables
$primary-color: #ff6060;
$secondary-color: #ffb6b6;

$primary-background-color: #f9f9f9;
$primary_text-color: black;
$secondary_text-color: white;


// Font variables
$font-family: 'roboto, sans-serif';
