// Color variables
$primary-color: rgba(224, 40, 40, 0.79);
$secondary-color: white;
$tertiary-color: black;
$quaternary-color: rgb(245, 239, 239);
$quinary-color: grey;
$senary-color: rgb(181 13 13 / 95%);
$septanery-color: rgba(229, 117, 117, 0.848);

// Font variables
$font-family: 'Montserrat', sans-serif;
