.about-content {
  padding: 0 110px;

  .accordion {
    margin: 20px 0;
    background-color: rgba(224, 40, 40, 0.79);
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s ease;

    &-title {
      background: rgba(224, 40, 40, 0.79);
      cursor: pointer;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        margin: 0;
        font-size: 1.2rem;
        font-weight: 600;
        color: white;
      }

      .accordion-arrow {
        img {
          width: 1.5rem; 
          transition: transform 0.3s ease;
          color: white;
        }

        .rotate {
          transform: rotate(-180deg); 
        }
      }
    }

    &-content {
      padding: 15px;
      background: rgb(245, 239, 239);
      transition: max-height 0.3s ease, padding 0.3s ease;
      overflow: hidden;
      max-height: 0;
      opacity: 0;
      visibility: hidden;
      display: none;
      
      &.open {
        max-height: 200px; 
        padding: 15px; 
        opacity: 1;
        visibility: visible;
        display: block;
    }
  }
  }
}

  // Media queries for responsiveness
  @media (max-width: 768px) {
    .accordion-title {
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;
    }

      .accordion-arrow {
        img {
          align-self: flex-end;
        }
      }
    
      .about-content {
        padding: 0 15px;
      }
    
      p {
        padding: 0px;
      }
  }

