.carouselContainer {
  position: relative;
  margin: 0 50px;
  border-radius: 20px;
  box-sizing: border-box;
  height: 250px;

  .carousel-slide {
      position: relative;
  }

  .carouselPictures{
      height: 250px;
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
  }

  .prev-button, .next-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      border: none;
      cursor: pointer;
      outline: none;
      padding: 0;

      img {
          width: 30px;
          height: auto;
        }
  }

  .prev-button {
      left: 10px; 
  }

  .next-button {
  right: 10px; 
  }

  .carousel-counter {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .carouselContainer {
    margin: 0px 15px;

    .prev-button, .next-button {
      img {
        width: 12px;
      }
    }

    .carousel-counter{
      display: none;
    }
  }
}