.lodgingAccordionContainer {
  margin: 0 50px 20px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .lodgingAccordionColumn {
    width: 48%;
    transition: all 0.6s ease;

    .lodgingAccordion {
      background-color: $primary-color;
      border-radius: 5px;
      overflow: hidden;
      transition: all 0.6s ease;
      display: flex;
      justify-content: space-between;
      padding: 0 5px;
      cursor: pointer;

      .lodgingAccordion-title {
        color: $secondary-color;
        margin: 5px;
        font-size: 10px;
      }

      .lodgingAccordionArrow {
        display: flex;
        align-items: center;

          img {
            width: 1.5rem; 
            transition: transform 0.3s ease;
            color: $secondary-color;

          &.rotate {
            transform: rotate(-180deg); 
          }
        }
      }
    }

    .lodgingAccordionContentContainer{
      padding: 15px;
      font-size: 14px;
      height: auto;
      border-radius: 5px;
      background: $quaternary-color;
      transition: max-height 0.6s cubic-bezier(0.25, 0.8, 0.5, 1), padding 0.6s cubic-bezier(0.25, 0.8, 0.5, 1), opacity 0.6s cubic-bezier(0.25, 0.8, 0.5, 1), visibility 0.6s cubic-bezier(0.25, 0.8, 0.5, 1);

      .lodgingAccordionContent {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        font-size: 10px;
      }
    }
  }
}

// Media queries for responsiveness
@media (max-width: 768px) {
  .lodgingAccordionContainer {
    margin: 20px 15px 20px 15px;
    flex-direction: column;
    gap: 20px;

    .lodgingAccordionColumn {
      width: 100%;
    }

    .lodgingAccordionContentContainer{
      height: 0px;
    }
  }
}

