.lodgingFormColumns {
    margin: 20px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .lodgingFormColumn1 {

        .lodgingFormTitle{
            color: rgba(224, 40, 40, 0.79); 
            font-size: 40px;  
            margin:0;
        }
    }
    
    .lodgingFormColumn2 {

        .lodgingFormOwner{
            color: rgba(224, 40, 40, 0.79);  
        }
    }  
}
