.lodgingFormColumns {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    flex-direction: row;

    .lodgingFormColumn1 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    
      .lodgingFormTitle {
        font-size: 24px;
        margin: 15px 0px 0px;
        font-weight: bold;
        color: rgba(224, 40, 40, 0.79); 
      }

      .lodgingFormLocation{
        margin: 0px;
        font-size: 12px;
      }

      ul {
        list-style: none;
        padding: 0px;
        margin-top: 10px;
  
        li {
          background-color: rgba(224, 40, 40, 0.79);
          border-radius: 15px;
          padding: 2px 20px;
          display: inline-block;
          margin-right: 5px;
          margin-bottom: 5px;
          color: white;
          font-size: 10px;
        }
      }
    }

      
    }

    .lodgingFormColumn2 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    
      .lodgingFormOwnerContainer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 5px;
        margin: 2px 0px 0px;

        .lodgingFormOwner {
          width: 50px;

          .lodgingFormOwnerName {
            color: rgba(224, 40, 40, 0.79);
          }
        }
  
        .lodgingFormOwnerAvatar {
          width: 40px; 
          height: 40px;
          background-color: grey;
          border-radius: 50%;
        }
      }
     
      .StarRatingContainer {

        .star-rating {
          display: flex;
          gap: 5px;
          justify-content: flex-end;
        
          .star {
            width: 20px; 
            height: 20px;
          }
        }
      }
    }

  
  /* Media Queries */
  @media screen and (max-width: 768px) {
    .lodgingFormColumns {
      padding: 0px 15px;
    }
    
  }