.footer {
    background-color: black;
    padding: 2px 0;
    text-align: center;
    color: #fff;

    .footer_logo{
      padding-top: 25px;
      padding-bottom: 8px;
    }

    .LogoFooter{
      height: 20px;
    }

    p {
      text-align: center;
      font-size: 11px;
      padding-bottom: 5px;


    }
  }