.footer {
    background-color: $tertiary-color;
    padding: 2px 0;
    text-align: center;
    color: $secondary-color;

    .footer_logo{
      padding-top: 25px;
    }

    .LogoFooter{
      height: 20px;
    }

    p {
      text-align: center;
      font-size: 11px;
      padding-bottom: 5px;
    }
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .footer {
      Height: 140px;
    .footer_logo{
      padding-top: 40px;
    }
    p {
      padding: 0 130px 30px 130px;
    }
  }
}


