.Lodging {
    padding: 30px;
    background-color: rgba(247, 244, 244, 0.938);
    margin: 40px 50px;
    border-radius: 20px;
    box-sizing: border-box;

    .LodgingCardsContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px; 

        a{
            text-decoration: none;
            color: white;

            .LodgingCard:hover {
                transform: translateY(-5px);
                box-shadow: 0px 4px 6px rgba(229, 117, 117, 0.848);
                cursor: pointer;
            }

                img {
                    width: 100%;
                    height: 200px;
                }

                .LodgingTitleContainer{
                    display: flex;
                    justify-content: center;
                    height: 50px;
                    background: linear-gradient(rgba(224, 40, 40, 0.79), rgba(106 0 0 / 96%));

                    .LodgingTitle {
                        margin: 0;
                        font-size: 13px;
                        display: flex;
                        align-items: center;
                        padding: 0 30px;
                         text-align: center;
                    }
                }
            }
        }
 /* Media Queries */

    @media (max-width: 1200px) {
    }

    @media screen and (max-width: 768px) {
        .Lodging {
            margin: 0px;
        }

        .LodgingCardsContainer {
            display: flex;
            flex-direction: column;
        }


    @media screen and (max-width: 480px) {
    }
}
}