.header {
    padding: 10px 50px 10px 50px;
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
    
    .header__logo {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .LogoHeader{
      height: 35px;
    }
    
    nav {
      ul {
        list-style: none;
        display: flex;
        gap: 2em;

          a {
            text-decoration: none;
            color: black;
            font-size: 15px;
  
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  

/* Media Queries */



  @media screen and (max-width: 768px) {
    .header{
      padding: 20px 15px 20px 15px;
      max-width: 100%;
    
    .header__nav .nav-link {
      text-transform: uppercase; 
    }

    .logo {
      img {
        max-width: 100px;
      }
    }
  }
  }

    .nav {
      ul {
        flex-direction: column;

        li {
          margin: 10px 0;
        }
      }
    }
  
