.header {
    padding: 20px 0;
    
    .header__logo {
      font-size: 2em;
    }
    
    nav {
      ul {
        list-style: none;
        display: flex;
        li {
          margin-right: 15px;
          a {
            text-decoration: none;
  
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }